{{> header}}



<main id="content" role="main">



  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li><a href="/">Find services</a></li>

      </ol>
    </nav>
  </div>  <header class="page-header group">
    <div class="hgroup">
      <h1>Find a GP E</h1>
      <h2 class="subtitle">In your area</h2>
    </div>
  </header>

  <div class="text">

    <p class="lede">
      This guide explains how to make your service look consistent with the rest of GOV.UK.
    </p>

  </div>


</main><!-- / #content -->

{{> footer}}
