{{> header}}



<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li>Register with a GP </li>
      </ol>
    </nav>
  </div>
  <div class="text">

            <h1 class="heading-large">Confirm details</h1>
<p class="lede">You will be moving from this GP:</p>
<p><span class="bold-small">St Philip's Medical Centre</span><br/>

Clement's Inn<br/>
London<br/>
WC2A 2AZ</p>
  <p class="lede">
  And registering with this GP:</p>
  <p><span class="bold-small">Tredegar Practice</span><br/>
    35 St. Stephens Road<br>
    London<br>
  E3 5JD</p>


            <div class="permission-box">
                      <label><input
                              type="checkbox"
                              id="dwpPermission"
                              name="dwpPermission"
                              value="1"
                               />
                          By ticking this box, you are confirming that you are content for:
                           <ul class="list-bullet"><li>your GP registration to move</li>
                             <li>your medical records to be shared with your new GP</li></ul>
                      </label>
                  </div>

            <div class="form-group">

        <a href="/gp_06.html" class="button" role="button">Confirm</a></div>
</div>
</main><!-- / #content -->

{{> footer}}
