{{> header}}



<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li>Register with a GP</li>
      </ol>
    </nav>
  </div>
  <div class="text">

<h1 class="heading-xlarge">Register with a GP</h1>

<p>Use this service to:</p>
<ul class="list-bullet">
<li>register yourself for the first time with a GP</li>
<li>switch GP</li>
</ul>

<div class="panel-indent">
    <p>
      You are registering at <a href="#"><span class="bold-small">Tredegar Practice</span></a>.<br/>Alternatively, you can <a href="/gp_00.html">choose another GP</a>.
    </p>
  </div>

<p>You must verify your identity to use this service for the first time. You’ll need:</p>

<ul class="list-bullet"><li>a valid UK passport or UK photocard driving licence</li>
<li>details of your current GP, if you have one</li>
</ul>

<p>You only have to verify your identity once - after that you can sign in with your username and password.</p>
<a href="/gp_03.html" class="button button-get-started" role="button">Start now</a>
</div>
</main><!-- / #content -->

{{> footer}}
