{{> header}}



<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li>Register with a GP </li>
      </ol>
    </nav>
  </div>
  <div class="text">

            <h1 class="heading-large">Enter contact details</h1>
            <div class="form-group">
                <label class="form-label" for="first-name-2">Email address</label>
                <input class="form-control" id="first-name-2" type="text">
              </div>

              <div class="form-group">
                <label class="form-label" for="last-name-2">Home phone number</label>
                <input class="form-control" id="last-name-2" type="text">
              </div>
              <div class="form-group">
                <label class="form-label" for="last-name-2">Mobile phone number</label>
                <input class="form-control" id="last-name-2" type="text">
              </div>
              <div class="form-group">

          <a href="/gp_05.html" class="button" role="button">Continue</a></div>
  </div>
</div>
</main><!-- / #content -->

{{> footer}}
