{{> header}}



<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li>Register with a GP </li>
      </ol>
    </nav>
  </div>
  <div class="text">

            <h1 class="heading-large">Your registration has been submitted to Tredegar Practice</h1>
<p class="lede">You should expect a confirmation by email within three working days.</p>
<div class="simplebox">



  <div class="form-group">

<fieldset>
    <legend class="form-label-bold">Would you like to opt-in to personalised notifications from your GP?</legend>
    <label class="block-label" for="checkbox-1">
      <input id="checkbox-1" type="checkbox" value="waste-animal">
      Immunisations and screening
    </label>
    <label class="block-label" for="checkbox-2">
      <input id="checkbox-2" type="checkbox" value="waste-mines">
      Community events
    </label>

  </fieldset></div>
  <div class="form-group">

  <fieldset>
      <legend class="form-label-bold">How would you like to receive notifications?</legend>
      <label class="block-label" for="checkbox-5">
        <input id="checkbox-5" type="checkbox" value="waste-animal">
        SMS message
      </label>
      <label class="block-label" for="checkbox-6">
        <input id="checkbox-6" type="checkbox" value="waste-mines">
        Email
      </label>

    </fieldset></div>
</div>
<a href="/gp_07.html" class="button button-get-started" role="button">Finished</a>

</div>
</main><!-- / #content -->

{{> footer}}
