{{> header}}



<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li>Register with a GP </li>
      </ol>
    </nav>
  </div>
  <div class="text">

            <h1 class="heading-large">Thank you</h1>
<p class="lede">Please join the NHS Organ Donor Register</p>
<p class="lede">If you needed an organ transplant, would you have one? If so please help others.</p>
<a href="https://www.organdonation.nhs.uk/how_to_become_a_donor/registration/registration_form.asp" class="button button-get-started" role="button">Join</a>

</div>
</main><!-- / #content -->

{{> footer}}
