{{> header}}



<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li>Register with a GP</li>
      </ol>
    </nav>
  </div>
  <div class="text">

            <h1 class="heading-xlarge">We need to verify your identity</h1>

        <h2 class="panel-indent">
            <img id="refImage"
                 class="logo"
                 src='/images/verify-logo.png'
                 height="56">
        </h2>

        <p class="lede text">You must verify your identity to use this service for the first time.</p>
        <p class="text">This service uses <strong>GOV.UK Verify</strong> to check your identity.</p>
        <p class="text">This is to make sure someone isn&#x27;t pretending to be you by using your online reference number.</p>

        <a href="/verify.html" class="button button-get-started" role="button">Continue</a>
</div>
</main><!-- / #content -->

{{> footer}}
