{{> header}}



<main id="content" role="main">



  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>
        <li><a href="/gp_00.html">Find a GP</a></li>
        <li>Results</li>

      </ol>
    </nav>
  </div>

<h1 class="heading-xlarge">Select GP</h1>
<div class="callout callout-blue">
  <p class="heading-large">Recommended for you:</p>

<p class="heading-medium"><a href="#">Tredegar Practice</a></p>

<div class="grid-row">
   <div class="column-quarter">
                   <span itemprop="addressLocality">35 St. Stephens Road</span><br>
                   <span itemprop="addressLocality">London</span><br>
                   <span itemprop="postalCode">E3 5JD</span>   </div>
   <div class="column-quarter">
     <img src="/images/map.png" width="100%">
   </div>
   <div class="column-half">
     <p>Rated as <a href="#" class="bold-small">outstanding</a> by CQC<br/>
  Provides <a href="#" class="bold-small">safe and responsive</a> care<br/>
    Rated <a href="#" class="bold-small">higher than average</a> by patients</p>

   </div>
   <div class="column-quarter">

          <p class="font-small"><strong class="bold-xsmall">Recommended for:</strong></p>
          <ul class="list-bullet"><li class="font-xsmall">Long term conditions</li>
            <li class="font-xsmall">Children and families</li>
          </ul>


   </div>
   <div class="column-quarter">
     <a href="/gp_02.html" class="button">Register now</a><br/>
     <a href="#" class="button">Book appointment</a>
   </div>
 </div>


</div>

<div class="callout">

<p class="heading-medium"><a href="#">Tredegar Practice</a></p>

<div class="grid-row">
   <div class="column-quarter">
                   <span itemprop="addressLocality">35 St. Stephens Road</span><br>
                   <span itemprop="addressLocality">London</span><br>
                   <span itemprop="postalCode">E3 5JD</span>   <br>
                   </div>
   <div class="column-quarter">
     <img src="/images/map.png" width="100%">
   </div>
   <div class="column-half">
     <p>Rated as <a href="#" class="bold-small">outstanding</a> by CQC<br/>
  Provides <a href="#" class="bold-small">safe and responsive</a> care<br/>
    Rated <a href="#" class="bold-small">higher than average</a> by patients</p>

   </div>
   <div class="column-quarter">

          <p class="bold-xsmall">Recommended for:</p>
          <ul class="list-bullet" class="font-xsmall"><li class="font-xsmall">Long term conditions</li>
            <li class="font-xsmall">Children and families</li>
          </ul>


   </div>
   <div class="column-quarter">
     <a href="/gp_02.html" class="button">Register now</a><br/>
     <a href="#" class="button">Book appointment</a>
   </div>
 </div>

</div>

<div class="callout">

<p class="heading-medium"><a href="#">Tredegar Practice</a></p>

<div class="grid-row">
   <div class="column-quarter">
                   <span itemprop="addressLocality">35 St. Stephens Road</span><br>
                   <span itemprop="addressLocality">London</span><br>
                   <span itemprop="postalCode">E3 5JD</span>   <br>
                   </div>
   <div class="column-quarter">
     <img src="/images/map.png" width="100%">
   </div>
   <div class="column-half">
     <p>Rated as <a href="#" class="bold-small">outstanding</a> by CQC<br/>
  Provides <a href="#" class="bold-small">safe and responsive</a> care<br/>
    Rated <a href="#" class="bold-small">higher than average</a> by patients</p>

   </div>
   <div class="column-quarter">

          <p class="bold-xsmall">Recommended for:</p>
          <ul class="list-bullet font-xsmall"><li class="font-xsmall">Long term conditions</li>
            <li class="font-xsmall">Children and families</li>
          </ul>


   </div>
   <div class="column-quarter">

     <a href="#" class="button" disabled="disabled">Register now</a><br/>
     <details>
   <summary><span class="summary font-xsmall">Not accepting registrations. Why?</span></summary>
   <div class="panel-indent">
     <p class="font-xsmall">
      This practice is over-subscribed.
     </p>
   </div>
 </details>
     <a href="#" class="button">Book appointment</a>
   </div>
 </div>

</div>


</main><!-- / #content -->

{{> footer}}
