{{> header}}



<main id="content" role="main">



  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="/">Home</a></li>

      </ol>
    </nav>
  </div>

  <div class="text">
<h1 class="heading-xlarge">Find a GP</h1>
    <p>
      This page is an index of the prototypes we've made. You can find the code on <a href="http://github.com/nhsalpha/prototype">Github</a>.
    </p>

    <h2 class="heading-large">Find and register with a GP</h2>

  <p>  <a href="#" class="button button-get-started" role="button">Start now</a></p>
    <h2 class="heading-large">Order a repeat prescription</h2>
    <p>  <a href="#" class="button button-get-started" role="button">Start now</a></p>

    <h2 class="heading-large">Book a GP appointment</h2>
    <p>  <a href="#" class="button button-get-started" role="button">Start now</a></p>

    <h2 class="heading-large">Book a GP appointment</h2>
    <p>  <a href="#" class="button button-get-started" role="button">Start now</a></p>


  </div>


</main><!-- / #content -->

{{> footer}}
